@model StateTest.Web.Models.SomeViewModel
@{
    var first = Model.SubItems.FirstOrDefault();
}
@using (Html.BeginForm("Save","State",FormMethod.Post, new {id="myForm"}))
{
    <p>
        @Html.HiddenFor(m => m.State)
        @Html.EditorFor(m => m.Name)
        <input type="submit" value ="save" />
        <input type="button" value ="validate" onclick="SubmitForm();"/>
        <a href="@Url.Action("Cancel", new {id = Model.Id})">Cancel</a>

    </p>
    <table>
        <thead>
            <tr >
                <th>@Html.LabelFor(m => first.Name)</th>
                <th>@Html.LabelFor(m => first.Value)</th>

                <th></th>
            </tr>
        </thead>
        <tbody>
            @if (Model.SubItems.Any())
            {
                foreach (var item in Model.SubItems)
                {
                    @Html.EditorFor(m => item)
                }
            }
            else
            {
                <tr>
                    <td colspan="36">
                        niks gevonden
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
